* {
    \\border: aqua 1px solid;
}

body {
    margin: 0;
}

html {
    margin: 0%;
    min-height: 100%;
}

.header-bar {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.header-container {
    margin-left: 10%;
}

#header {
    font: 24px;
    color: #f9faf8;
    padding: 0;
    font-weight: bolder;
}

.nav-links {
    margin-right: 10%;
    margin-top: auto;
}

.nav-list {
    padding-left: 0%;
    margin-top: .7em;
}

li {
    color: white;
    display: inline-flex;
    margin: 5px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.first-left-box {
    margin-left: 10%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 35%;
}

.first-right-box {
    margin-right: 10%;
    width: 500px;
    height: 300px;
    background-color: grey;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.first-right-box p {
    padding-top: 120px;
}

#main-hero {
    font-size: 48px;
    color: #f9faf8;
    text-align: left;
    font-weight: 900;
    margin-bottom: 0;
    padding-right: 30%;
}

#sec-hero {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    margin-top: 0;
    margin-bottom: .4rem;
    padding-right: 30%;
}

#button-1 {
    background-color: #3882F6;
    border-radius: 15px;
    height: 30px;
    width: 115px;
    margin-top: 0;
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-top: 0;
    line-height: 1.5em;
    display: block;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
}

.spot-one {
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
}

.spot-two {
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
}

.spot-three{
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
}

.spot-four {
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
}

#hunter-logo {
    height: 200px;
    width: 200px;
    border: 1px solid #1f2937;
    border-radius: 10px;
}

#warlock {
    height: 200px;
    width: 200px;
    border: 1px solid #1f2937;
    border-radius: 10px;
}

#titan {
    height: 200px;
    width: 200px;
    border: 1px solid #1f2937;
    border-radius: 10px;
}

#taken{
    height: 200px;
    width: 200px;
    border: 1px solid #1f2937;
    border-radius: 10px;
}

.section-3{
    background-color: #e5e7eb;
}

.section-3 p{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
}

#quote {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

#credit{
    justify-content: right;
    font-weight: bold;
}